@media only screen and (min-width: 1216px) and (max-width: 1500px) {
  .contact-form_submit-btn {
    margin-right: var(--desktop-gap);
    margin-left: var(--desktop-gap);
  }

  .footer {
    padding-left: var(--desktop-gap);
    padding-right: var(--desktop-gap);
  }
}

@media only screen and (min-width: 923px) and (max-width: 1215px) {
  .aside {
    display: none;
  }

  .main_form {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 var(--desktop-gap) 162px;
  }

  .form-container {
    margin-right: var(--desktop-gap);
  }

  .contact-form_submit-btn {
    margin-top: 62px;
  }

  .footer {
    padding-left: var(--desktop-gap);
    padding-right: var(--desktop-gap);
  }

  .footer_nav-container {
    margin: 10px var(--desktop-gap) var(--desktop-gap);
  }
}

@media only screen and (min-width: 820px) and (max-width: 922px) {
  .header_nav-container {
    display: none;
  }

  .header_start-btn {
    margin-left: 59px;
  }

  .languages {
    margin-left: auto;
  }

  .aside {
    display: none;
  }

  .main_form {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 var(--desktop-gap) 100px;
  }

  .form-container {
    margin-right: var(--desktop-gap);
  }

  .contact-form_submit-btn {
    margin-top: 62px;
  }

  .footer {
    padding: 38px 75px 26px 40px;
  }

  .footer_wrapper {
    flex-wrap: wrap;
  }

  .footer_logo {
    width: 100%;
  }

  .footer_nav-container {
    margin: 50px 0 126px;
  }

  .messengers {
    justify-content: center;
    margin-bottom: 126px;
    margin-left: 79px;
  }

  .footer_bottom {
    padding-right: 107px;
  }
}

@media only screen and (min-width: 414px) and (max-width: 819px) {
  .header_nav-container {
    display: none;
  }

  .header_start-btn {
    display: none;
  }

  .languages {
    display: none;
  }

  .aside {
    display: none;
  }

  .header {
    padding: 29px 40px 62px;
    margin-bottom: 0;
  }

  .mobile-menu {
    display: inline-block;
    position: relative;
  }

  .mobile-menu::after {
    position: absolute;
    top: calc(50% - 4px);
    right: 20px;
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--blue-text-color);
    box-shadow: 12px 0 var(--blue-text-color), -12px 0 var(--blue-text-color);
  }

  .main_form {
    margin: 0 40px 100px;
    flex-wrap: wrap;
  }

  .form-container {
    width: 100%;
  }

  .contact-form_title {
    font-size: 40px;
    line-height: 40px;
  }

  .contact-form_subtitle {
    margin-bottom: 80px;
    width: 100%;
    text-align: justify;
  }

  .form-contact_fildset {
    width: 100%;
    flex-direction: column;
  }

  .input_wrapper {
    width: 100%;
  }

  .contact-form_input {
    width: 100%;
    font-size: 22px;
    line-height: 26px;
    flex-grow: 0;
  }

  .input_wrapper__checkbox {
    margin: -25px 0 35px;
    height: auto;
  }

  /*  .contact-form_checkbox + .contact-form_label__checkbox::before {
    width: 40px;
  } */

  .footer_wrapper {
    flex-wrap: wrap;
    margin: 0 40px 57px;
    justify-content: flex-start;
  }

  .footer_logo {
    font-size: 30px;
    line-height: 38px;
    width: 100%;
  }

  .footer_nav-container {
    margin: 0;
    margin-top: 44px;
    width: 190px;
    flex-grow: 0;
  }

  .footer_nav {
    flex-direction: column;
    row-gap: 50px;
    display: flex;
    width: 190px;
  }

  .messengers {
    display: flex;
    width: 35px;
    margin-bottom: 0;
    margin-left: 63px;
  }

  .footer_bottom {
    margin: 0 106px 21px 40px;
    flex-direction: column-reverse;
    row-gap: 10px;
    font-size: 14px;
    line-height: 17px;
  }
}
